# Rojo
/sourcemap.json

# Artifacts
/*.lock
/*.rbxl
/*.rbxlx
/*.rbxm
/*.rbxmx

# darklua
/out
/.darklua-sourcemap.json

# Lune
luau_packages/
lune_packages/
roblox_packages/

# Pesde
.pesde/

# Wally
/Packages
/ServerPackages
/DevPackages
wally.lock

# Git

# Misc
.DS_Store
.vscode

/node_modules
/build

